body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.add-item-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  
}

.add-item-form input,
.add-item-form select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  
}

.add-item-form .add-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.add-item-form .add-button:hover {
  background-color: #218838;
}

.search-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  text-align: left;
}

.shopping-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shopping-table th,
.shopping-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.shopping-table th {
  background-color: #f8f8f8;
}

.shopping-table tr.bought {
  text-decoration: line-through;
  color: #6c757d;
}

.item-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.item-actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-actions .remove-button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.item-actions .remove-button:hover {
  background-color: #c82333;
}

.item-actions .edit-button,
.item-actions .toggle-button {
  font-size: 18px;
}

.item-actions .edit-button {
  color: blue;
}

.item-actions .toggle-button {
  color: gray;
}

.item-actions .toggle-button.bought {
  color: green;
}
.add-item-form .note-textarea,
.shopping-table textarea {
  width: 100%;
  height: 50px; 
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
